CONNST/CONNST/Connected Services/WebServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61603/WebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61603/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWebService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserIDbyUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDbyUserName" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserIDbyUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDbyUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserIDbyUserAndPW_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDbyUserAndPW" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserIDbyUserAndPW_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDbyUserAndPWResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/DoWork" message="tns:IWebService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/DoWorkResponse" message="tns:IWebService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/RegisterUser" message="tns:IWebService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/RegisterUserResponse" message="tns:IWebService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIDbyUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetUserIDbyUserName" message="tns:IWebService_GetUserIDbyUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetUserIDbyUserNameResponse" message="tns:IWebService_GetUserIDbyUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIDbyUserAndPW">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetUserIDbyUserAndPW" message="tns:IWebService_GetUserIDbyUserAndPW_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetUserIDbyUserAndPWResponse" message="tns:IWebService_GetUserIDbyUserAndPW_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebService" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWebService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IWebService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIDbyUserName">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetUserIDbyUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIDbyUserAndPW">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetUserIDbyUserAndPW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="BasicHttpBinding_IWebService" binding="tns:BasicHttpBinding_IWebService">
      <soap:address location="http://localhost:61603/WebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>